/*All*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DBD3D3;
    margin: 0;
    text-align: center;
}

/*Header*/
.logo{
    width: 10rem;
}
.search{
    width: 3rem;
    transition: transform 0.2s ease;
}
.search:hover{
    transform: scale(1.05);

}

.cart{
    width: 3rem;
    transition: transform 0.2s ease;
}
.cart:hover{
    transform: scale(1.05);

}

header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    
}

.navigation{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.nav{
    color: #303030;
    font-weight: 50;
    text-decoration: none;
}

.nav:hover{
    text-decoration: underline;
}

/*Button to order an appointment*/
.time_order{
    background-color: #5C7E70;
    border-radius: 0.5rem;
    text-align: center;
    width: 4rem;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

.time_order_box{
    padding: 0;
    margin: 2rem;
}

.time_order:hover{
    background-color: #41584F;
}

/*Welcome text and list of services*/
.welcome{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

#introduction {
    margin-left: 30%;
    margin-right: 30%;
    color: #494949;
}

.container_list {
    text-align: center;
}

.service_ul {
    display: inline-block;
    text-align: left;
    color: #494949;
}

li{
    padding: 0.2rem;
}

.introduction1{
    font-weight: bold;
    color: #494949;
}