.logo{
    width: 8rem;
}
.search{
    width: 3rem;
}
.cart{
    width: 3rem;
}

body{
    background-color: rgb(250, 244, 235);
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    
}

.navigation{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.nav{
    color: black;
    text-decoration: none;
}

.nav:hover{
    text-decoration: underline;
}