/*Navigation Brands*/
.nav_brands{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.nav_brand{
    text-decoration: none;
    font-weight: bold;
    color: #303030;
}

.nav_brand:hover{
    text-decoration: underline;
}

.text_brand_category{
    font-size: 2rem;
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.product{
    text-decoration: none;
    color: #303030;
    background-color: white;
    text-align: center;
    width: 15rem;
    border-radius: 1rem;
}

.product_img{
    width: 13.5rem;
    margin: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #303030;
    border-radius: 1rem;
}

.brand{
    font-size: large;
    font-weight: bold;
}

.product_name{
    font-size: medium;
    margin: 0 0.5rem;
}

.flex_price_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1.5rem;
}

.price{
    font-size: 1.5rem;
    font-weight: bold;
}

.cart_img{
    width: 3rem;
    background-color: white;
    border-radius: 3rem;
}

.cart_btn{
    border-radius: 3rem;
    background-color: white;
    border-color: #303030;
    box-shadow: none;
}

#productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin: 5% 0 5% 0;
}
.product-card{
    word-wrap: break-word;
    width: 15rem;
    background-color: white;
    color: #494949;
    cursor: pointer;
    border-radius: 1.5rem;
    border: none;
    font-size: medium;
}
.product_image{
    width: 13.5rem;
    margin: 0.5rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #303030;
    border-radius: 1.5rem; 
}
