/*Main login*/
.login-container {
    max-width: 300px;
    margin: 5% 0;
    align-self: center;
  }
  .input {
    width: 17rem;
    padding: 0.5rem;
    margin: 0.2rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: none;
  }
  #signupButton {
    width: 17rem;
    padding: 0.5rem;
    margin: 0.2rem;
    background-color: rgb(92, 126, 112);
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
  }
  #signupButton:hover {
    background-color: rgb(65, 88, 79);  }
  .message {
    margin-top: 10px;
    color: red;
  }

  #login{
    display: inline-block;
    max-width: 300px;
    width: 16rem;
    padding: 0.7rem;
    margin-top: 4rem;
    background-color: rgb(92, 126, 112);
    color: white;
    border-radius: 0.5rem;
    border: none;
    text-decoration: none;
  }

  #login:hover{
    background-color: rgb(65, 88, 79);
  }