/*Button to order an appointment*/
.time_order{
    background-color: #5C7E70;
    border-radius: 0.5rem;
    text-align: center;
    width: 4rem;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

.time_order_box{
    padding: 0;
    margin: 2rem;
}

.time_order:hover{
    background-color: #41584F;
}

/*list of services*/

main{
    padding: 0.5rem;
    
}

#introduction {
    margin-left: 30%;
    margin-right: 30%;
    color: #494949;
    
}

.container_list {
    text-align: center;
}

.service_ul {
    display: inline-block;
    text-align: left;
    color: #494949;
}

li{
    padding: 0.2rem;
}

.introduction1{
    font-weight: bold;
    color: #494949;
}